* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(0, 239, 146);
    background: linear-gradient(90deg, rgba(0, 239, 146, 1) 0%, rgba(0, 163, 247, 1) 100%);
    font-family: "Roboto Condensed", sans-serif;
    color: #43686b;
}


/* Homepage */

.navbar {
    height: 60px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    margin-left: 3em;
    font-size: 30px;
    font-weight: 700;
    color: #00a3f7
}

.navbar-brand:hover {
    color: #00ef92
}

.searchbox {
    margin-right: 40px;
}

#pokemonName {
    border-radius: 4px;
    height: 30px;
    outline: none;
    padding-left: 5px;
    margin-right: 5px;
    width: 200px;
}

#pokemonName::placeholder {
    margin-left: 10px;
    opacity: 0.3;
    outline: none;
}

#search {
    margin-right: 3rem;
    border-radius: 5px;
    background-color: #00a3f7;
    color: #fff;
    padding: 4px 0;
    width: 100px;
    font-weight: 600;
}

#search:hover {
    background-color: #00ef92;
}

#start {
    margin: 140px 300px 0 300px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
    padding: 60px;
}

#start img {
    height: 130px;
    margin: 20px 0;
}

#start h2,
h4 {
    padding-top: 20px;
}


/* Info page */

#pokemonBox {
    display: grid;
    grid-template-areas:
        "image name"
        "image type"
        "image number";
    grid-template-columns: 600px 500px;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-top: 5rem;


}

.section {
    background: #fff;
    border-radius: 10px;
}

.name {
    grid-area: name;
}

.type {
    grid-area: type;
}

.number {
    grid-area: number;
}

.name,
.type,
.number {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
}

.header {
    font-weight: 700;
    margin-left: 20px;
}

.image {
    max-width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
    grid-area: image;
}



/* Phone layout */

@media only screen and (min-width:320px) and (max-width:480px) {

    /* Homepage */

    .navbar {
        height: 120px;
    }

    .navbar-brand {
        margin: 0 auto;
        padding: 0 10px;
    }

    .searchbox {
        margin: 0 auto;
        padding: 0 10px;
    }

    #search {
        margin-right: 0;
    }

    #pokemonName {
        width: 150px;
    }

    #start {
        margin: 4rem 60px 4rem 60px;
        padding: 30px;
    }

    #start img {
        height: 80px;
    }

    #start h2 {
        font-size: 20px;
    }

    #start h4 {
        font-size: 16px;
    }

    #pokemonBox {
        margin: 1rem 0.5rem 1rem 0.5rem;
        display: grid;
        grid-template-areas:
            "image"
            "name"
            "type"
            "number";
        grid-template-columns: 300px;
    }

    img {
        max-width: 80%;
    }

    h1 {
        margin: 0;
        font-size: 20px;
    }


}


/* Tablet layout */

@media only screen and (min-width:481px) and (max-width:1024px) {

    .navbar {
        height: 100px;
    }

    #start {
        margin: 4rem 60px 4rem 60px;
        padding: 30px;
    }

    #pokemonBox {
        margin: 3rem 0.5rem 3rem 0.5rem;
        display: grid;
        grid-template-areas:
            "image"
            "name"
            "type"
            "number";
        grid-template-columns: 600px;
    }

    img {
        max-width: 80%;
    }

    h1 {
        margin: 0;
        font-size: 20px;
    }

}
