* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(0, 239, 146);
    background: linear-gradient(90deg, rgba(0, 239, 146, 1) 0%, rgba(0, 163, 247, 1) 100%);
    font-family: "Roboto Condensed", sans-serif;
    height: 100vh;
    color: #43686b;
}

.navbar {
    height: 60px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    margin-left: 3em;
    font-size: 30px;
    font-weight: 700;
    color: #00a3f7
}

.navbar-brand:hover {
    color: #00ef92
}

.searchbox {
    margin-right: 40px;
}

#pokemonName {
    border-radius: 4px;
    height: 30px;
    outline: none;
    padding-left: 5px;
    margin-right: 5px;
    width: 200px;
}

#pokemonName::placeholder {
    margin-left: 10px;
    opacity: 0.3;
    outline: none;
}

#search {
    margin-right: 3rem;
    border-radius: 5px;
    background-color: #00a3f7;
    color: #fff;
    padding: 4px 0;
    width: 100px;
    font-weight: 600;
}

#search:hover {
    background-color: #00ef92;
}

#start {
    height: 50vh;
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 53%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
    padding: 50px;
}

#start img {
    height: 40%;
    margin-bottom: 50px;
}

#start h2 {
    margin-bottom: 20px;
}

.pokemonBox {
    display: grid;
    grid-template-areas: 
    "image name"
    "image type"
    "image number";
    grid-template-columns: 600px 500px;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 20px;
    /* grid-auto-columns: minmax(150, auto); */
    padding: 20px;
    /* margin: 6em auto; */
    position: absolute;
    top: 54%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section {
    background: #fff;
    border-radius: 10px;
}

/* .description {
    grid-column: 2 / -1;
} */

.name {
    grid-area: name;
}

.type {
    grid-area: type;
}

.number {
    grid-area: number;
}

.name,
.type,
.number {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
    /* grid-column: 2 / -1; */
}

.header {
    font-weight: 700;
    margin-left: 20px;
}

.image {
    max-width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
    grid-area: image;
    /* grid-row: 1 / 2; */
}